fastapi
uvicorn
python-multipart
openai
python-dotenv
psycopg[binary]
httpx
requests
jira
pymupdf
python-docx
loguru
orjson
typing-extensions
pandas==2.3.2
openpyxl==3.1.5
networkx==3.5
pydantic==2.11.7
sqlalchemy==2.0.43
ortools==9.14.6206
